# Python cache files
__pycache__/
*.pyc

# Virtual environment
venv/
serverenv/
env/
.venv/

# Local settings and secrets
config.json
.env
secrets.json
.pylintrc
nginx.conf
paperplus.service
paperplus.sql

# Logs and temp files
*.log
*.tmp
paperplus.sql
batch_generate_worksheets.py

# System or editor files
.DS_Store
.idea/
.vscode/
PaperPlus System.md

# Uploads or generated data
downloads/
images/
dewarped/
testing/
debug/
checked/
logs/
offline/
json/
pdf/
csv/