<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
  <title>MCQ Worksheet</title>
  <link rel="stylesheet" href="templates/style.css">
</head>
<body>
  <header>
    
    {{tags_html}}

    <!-- <div class="marker top-left" style="background-image: url('id1.svg')"></div>
    <div class="marker top-right" style="background-image: url('id2.svg')"></div>
    <div class="marker bottom-left" style="background-image: url('id3.svg')"></div>
    <div class="marker bottom-right" style="background-image: url('id4.svg')"></div> -->

    <div id="logo"><img src="logo.jpg" class="logo"/></div>

    <h1>Math Practice Worksheet</h1>
    <!-- <div class="header-container">
      <img src="logo.jpg" class="logo"/>
      <h1>Homework Worksheet</h1>
    </div> -->
  <p>ID: {{worksheet_id}} &nbsp;&nbsp; Name: ____________________ &nbsp;&nbsp; Class: _____</p>

    <div id="instructions">
      <table class="instructions-table">
        <tr>
          <td class="instructions-text">How to mark <br>your answer:</td>
          <td class="instructions-example"><img src="instructions/correct.jpg" /><br>Correct ✔</td>
          <td class="instructions-example"><img src="instructions/wrong_tick.jpg" /><br>Wrong ✗</td>
          <td class="instructions-example"><img src="instructions/wrong_overfill.jpg" /><br>Wrong ✗</td>
          <td class="instructions-example"><img src="instructions/wrong_overwrite.jpg" /><br>Wrong ✗</td>
          <td class="instructions-example"><img src="instructions/wrong_multiple.jpg" /><br>Wrong ✗</td>
        </tr>
      </table>
    </div>
  </header>

  <table class="questions-table">

    {{questions}}

    <!-- <tr>
      <td>
        <div class="question">
          <p>1. What is 12 × 8?</p>
          <table class="options-table">
            <tr>
              <td><div class="circle"></div>A</td>
              <td><div class="circle"></div>B</td>
              <td><div class="circle"></div>C</td>
              <td><div class="circle"></div>D</td>
            </tr>
          </table>
        </div>
      </td>
      <td>
        <div class="question">
          <p>2. Which fraction is greater: 3/5 or 4/7? This question is intentionally long to see wrapping behavior.</p>
          <table class="options-table">
            <tr>
              <td><div class="circle"></div>A</td>
              <td><div class="circle"></div>B</td>
              <td><div class="circle"></div>C</td>
              <td><div class="circle"></div>D</td>
            </tr>
          </table>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="question">
          <p>3. What is the square of 15?</p>
          <table class="options-table">
            <tr>
              <td><div class="circle"></div>A</td>
              <td><div class="circle"></div>B</td>
              <td><div class="circle"></div>C</td>
              <td><div class="circle"></div>D</td>
            </tr>
          </table>
        </div>
      </td>
      <td>
        <div class="question">
          <p>4. What is 7 + 9?</p>
          <table class="options-table">
            <tr>
              <td><div class="circle"></div>A</td>
              <td><div class="circle"></div>B</td>
              <td><div class="circle"></div>C</td>
              <td><div class="circle"></div>D</td>
            </tr>
          </table>
        </div>
      </td>
    </tr> -->
  </table>
  <h2>Send a photo on WhatsApp: <img src='whatsapp.png' class="whatsapp_logo" /> <u><b>+912071173227</b></u></h2>
  <div class="roll-no-box"></div>
</body>
</html>
